body {
  margin: 0;
}

.center-children {
  text-align: center;
}

.center-me {
  margin: 0 auto;
}

blockquote {
  margin: 0 0 1em;
  padding: 0 1.5em;
  border-left: 3px solid #4f98ff;
  background-color: #ecf4fa;
}