.center-children {
  text-align: center;
}

.center-me {
  margin: 0 auto;
}

blockquote {
  margin: 0 0 1em;
  padding: 0 1.5em;
  border-left: 3px solid #4f98ff;
  background-color: #ecf4fa;
}

.nostyle-link, .nostyle-link:focus, .nostyle-link:focus:hover,
.nostyle-link:focus:visited, .nostyle-link:focus:link, .nostyle-link:focus:active {
  color: inherit;
  text-decoration: inherit;
}

/* Anchors that allow for AppBar space, based on ".makeStyles-offset-1" of 56, 48, 64 */
.anchorOffset {
  display: block;
  position: relative;
  top: -66px;
  visibility: hidden;
}
@media (min-width:0px) and (orientation: landscape) {
  .anchorOffset {
    top: -58px;
  }
}
@media (min-width:600px) {
  .anchorOffset {
    top: -74px;
  }
}