.popout {
  background: #ecf4fa;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: .5em;
  border-radius: 0.5em;
}

.button {
  display: block;
  width: 100%;
  background: #366fbe;
  border: 0;
  border-radius: 0.4em;
  color: #fff;
  outline: 0;
  padding: 0.5em;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.textarea {
  border: 1px solid #ced3d9;
  border-radius: 0.4em;
  display: block;
  padding: 0.5em;
  width: 100%;
  margin-bottom: .5em;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4em;
}